/* iPhone telephone links
 *
 *
 *
 */

div#search {
	height: 2.5em;
}

p#search_field_p {
	padding-right: 8.4em;
}

div#contacts a.tel {
	text-decoration: none;
	border-bottom: #ccc solid 1px;
}

div#contacts sup {
	color: #906;
}

div#contacts a.tel:link {
	color: #906;
}

div#contacts a.tel:visited {
	color: #969;
}

div#contacts a.tel:hover, 
div#contacts a.tel:focus,
div#contacts a.tel:active {
	color: #f09;
	border-bottom-color: #f09;
}