/*	Common Pages							@@@@@ */
body#page div#content.item,
body#page div#content.last,
body#page div.content-item,
body#page div.content-last  {
	padding-left: 2em; /* 32px */
}


/*	Headers of Posts						@@@@@ */
body#page div#content h2 {
	clear: both;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.125em; /* 18px */
	font-weight: normal;
	margin-bottom: .6666em; /* 12px */
}

body#page div#content h2.sauce_header, div#content h2.sauce_header a {
	color: #690; /* Салатовый */
}

body#page div#content h2.info_header, div#content h2.info_header a {
	color: #930; /* Оранжевый */
}

body#page div#content h2.events_header, div#content h2.events_header a {
	color: #069; /* Синий */
}

body#page div#content h2.about_header, div#content h2.about_header a {
	color: #639; /* Фиолетовый */
}

body#page div#content h2.sauce_header a:hover,
body#page div#content h2.sauce_header a:active,
body#page div#content h2.sauce_header a:focus {
	border-bottom-color: #690!important;
}

body#page div#content h2.info_header a:hover,
body#page div#content h2.info_header a:active,
body#page div#content h2.info_header a:focus {
	border-bottom-color: #930!important;
}

body#page div#content h2.events_header a:hover,
body#page div#content h2.events_header a:active,
body#page div#content h2.events_header a:focus {
	border-bottom-color: #069!important;
}

body#page div#content h2.about_header a:hover,
body#page div#content h2.about_header a:active,
body#page div#content h2.about_header a:focus {
	border-bottom-color: #639!important;
}

body#page div#content h2.sauce_header a:link, div#content h2.sauce_header a:visited,
body#page div#content h2.info_header a:link, div#content h2.info_header a:visited,
body#page div#content h2.events_header a:link, div#content h2.events_header a:visited,
body#page div#content h2.about_header a:link, div#content h2.about_header a:visited {
	border-bottom-color: #ccc;
}

body#page div#content h2.sauce_header a, div#content h2.info_header a,
body#page div#content h2.events_header a, div#content h2.about_header a {
	background-color: transparent;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-decoration: none;
}

body#page div#content h2 span.date {
	color: #999;
	font-size: .6111em;
	font-weight: bold;
	line-height: 1.375em;
	letter-spacing: .0909em;
	margin-left: .8333em;
	padding: 0 0.2143em 0.2143em 0.2143em;
	text-transform: uppercase;
}

body#page div#content h2 sup {
	color: #333;
	line-height: 1em; /* 10/12; 8/12 — при бОльших значениях заголовк смещается вниз*/
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: .6666em; /* 12/18 */
	/*font-style: italic;*/
	vertical-align: text-top;
}

/*	Post								@@@@@ */
body#page div#content h2.item {
	font-size: 1.2222em; /* 22px */
	margin-top: 0;
	margin-bottom: 1.0909em; /* 24px */
	text-align: center;
}

body#page div.post {
	overflow: hidden;
	padding-bottom: 2.75em;
	padding-left: 2em; /* 32px */
}

body#page div#content img {
	clear: both;
	margin-top: .4286em;
	margin-bottom: .4286em;
	max-width: 100%;
}

body#page div#content img.right {
	margin-left: .8em;
	float: right;
}

body#page div#content img.left {
	margin-right: .8em;
	float: left;
}

body#page div#content h3,
body#page div#content h4,
body#page div#content h5,
body#page div#content h6 {
	clear: both;
	margin-top: 1.5em;
}

body#page div#content h2 + h3,
body#page div#content h2 + h4,
body#page div#content h2 + h5,
body#page div#content h2 + h6,
body#page div#content.simple h2 + p {
	margin-top: 0!important;
}

body#page div#content h3 {
	font-size: 1.375em; /* 22px */
}

body#page div#content h4 {
	font-size: 1.25em;
	font-style: italic;
}

body#page div#content h5 {
	font-size: 1.125em;
}

body#page div#content h6 {
	font-size: 1em;
	font-weight: bold;
}

body#page div#content p {
	margin-top: 1.25em; /* 20px */
}

body#page div#content h6 + p {
	margin-top: .625em; /* 10px */
}

body#page div#content p + p {
	margin-top: 0;
	text-indent: 2.75em;
}

body#page div#content p.quoteauthor + p {
	text-indent: 0;
	margin-top: 1.25em; /* 20/16px */
}

body#page div#content ul,
body#page div#content ol {
	margin-top: .375em;
}

body#page div#content.simple ul li,
body#page div#content.simple ol li {
	margin-left: 2.75em;
	margin-bottom: .75em;
}

body#page div#content.simple ul li {
	text-indent: -1.25em;
}

body#page div#content.simple ul li:before {
	font-family: "Times New Roman", serif;
	content: '\2014\a0';
}

body#page div#content.simple ol {
	list-style: decimal;
}

body#page div#content.simple blockquote {
	font-size: .875em;
	font-style: italic;
	padding-left: 3em;
	padding-right: 2em;
	overflow: hidden;
	zoom: 1;
}

body#page div#content.simple blockquote p {
	margin-top: 0!important;
}

body#page div#content.simple p + blockquote {
	margin-top: 1.375em;
}

body#page div#content.simple p.quoteauthor {
	font-size: .875em; /* 14/16px */
	margin-top: .625em!important;
	padding-right: 2em;
	padding-left: 5.75em;
}

body#page div#content.simple blockquote  p.quoteauthor {
	font-size: 1em;
	font-style: normal;
}


/*	Special Pages						@@@@@ */
/*		Правила	пользования НТБ			@@@@@ */
body#page div#content.simple ol.rules li.lev-1 {
	margin-left: 1.25em;
}

/*		Содержания					@@@@@ */

div#content dl.content-list dd {
	font-family: Arial, sans-serif;
	font-size: .8125em;
	line-height: 1.5385em;
	margin-top: 1.2308em;
	/*margin-left: 3.3846em; /*1.2308em;*/
	text-indent: 0!important;
}

div#content dl.content-list dd b {
	color: #555;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.0769em;
	font-style: italic;
	font-weight: normal;
}

div#content dl.content-list dd span {
	display: block;
}

div#content dl.content-list dd i {
	font-size: 1.0769em;
	font-style: normal;
	font-weight: bold;
	margin-left: .2857em;
}
