/* CSS Document. Author: Igor Spisivtsev */
/* Для сайта НТБ МИРЭА.    Версия 1.01   */

/* Глобальные стили +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
* {
margin:0px;
padding:0px;
border:0px;
}

body {
font-family:Georgia, "Times New Roman", Times, serif;
line-height:1.38em;
color:#333;
background-color:#fdfdfd;
}

table, tr, td, body {
font-size:16px !important;
}

#box {
clear:both;
width:100%;
overflow:hidden;
min-width:710px;
}

#sauce #content a:link, #sauce #content a:visited {color:#9c0;}
#sauce #content a:hover, #sauce #content a:active, #sauce #content a:focus {color:#b1eC00;}

#help #content a:link, #help #content a:visited {color:#c60;}
#help #content a:hover, #help #content a:active, #help #content a:focus {color:#ec7600;}

#events #content a:link, #events #content a:visited {color:#09c;}
#events #content a:hover, #events #content a:active, #events #content a:focus {color:#00b6f2;}

#about #content a:link, #about #content a:visited {color:#96c;}
#about #content a:hover, #about #content a:active, #about  #content a:focus {color:#aa81d3;}

h1, h2, h3, h4, h5, h6 {font-weight:normal}

#sauce h2 {color:#9c0}
#help h2 {color:#c60;}
#events h2 {color:#09c;}
#about h2 {color:#96c;}

/* Заголовок ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#header {
width:100%;
overflow:hidden;
}

#header img {
float:right;
}

/* Поиск ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#search {
clear:both; /* Special for Safari */
float:right;
width:344px;
margin:6px 0px;
display:block;
}

#search .sfield, #search .subtn {
font-family:Georgia, "Times New Roman", Times, serif;
vertical-align:middle;
}

#search .sfield {
border-bottom:solid 1px #333;
font-size:0.9em;
color:#ccc;
width:240px;
height:18px;
}

#search .subtn {
font-size:0.8em;
width:80px;
height:22px;
background-color:#333;
color:#fdfdfd;
cursor:pointer;
cursor:hand;
}

#search .sfield:focus {
color:#333;
}

#sauce #search .subtn {border:#9c0 solid 2px;}
#help #search .subtn {border:#c60 solid 2px;}
#events #search .subtn {border:#09c solid 2px;}
#about #search .subtn {border:#96c solid 2px;}

#search label {font-size:0.8em;}
#search i {color:#ccc; font-style:normal}
#search fieldset {margin-bottom:3px;}

/* Меню +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#menu {
float:right;
width:354px;
margin:0px 0px 20px 20px;
overflow:hidden;
background-color:#333;
background-image:url(images/menu_top_corner.gif);
background-position:top left;
background-repeat:no-repeat;
padding:42px 0px 0px 0px;
}

#menu ul {
list-style:none;
font-size:1.54em;
line-height:1.68em;
color:#fdfdfd;
background-image:url(images/menu_bottom_corner.gif);
background-position:bottom left;
background-repeat:no-repeat;
padding:0px 0px 42px 82px;
}

#menu ul ul {
font-size:0.6em;
padding:0px 10px 0.8em 1.2em;
background:none;
}

.sauce a:link, .sauce a:visited {color:#9c0;}
.sauce a:hover, .sauce a:active, .sauce a:focus {color:#b1eC00;}

.help a:link, .help a:visited {color:#c60;}
.help a:hover, .help a:active, .help a:focus {color:#ec7600;}

.events a:link, .events a:visited {color:#09c;}
.events a:hover, .events a:active, .events a:focus {color:#00b6f2;}

.about a:link, .about a:visited {color:#96c;}
.about a:hover, .about a:active, .about a:focus {color:#aa81d3;}

#sauce .sauce a {color:#9c0; text-decoration:none;}
#help .help a {color:#c60;text-decoration:none;}
#events .events a {color:#09c; text-decoration:none;}
#about .about a {color:#96c; text-decoration:none;}

/* Контейнер содержимого +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#content {
margin:0px 384px 0px 30px;
min-width:354px;
}

#content h2 {
font-size:1.74em;
line-height:1.1em;
margin-bottom:1em;
}

#content p {
margin:0px 0px 1.4em 30px;
}

/* Подвал ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#footer {
clear:both;
overflow:auto;
width:100%;
padding-top:1em;
}

#copyright {
float:right;
width:354px;
font-size:0.8em;
padding:0px 0px 4px 4px;
}