<h1>Book Page</h1><br><br>
<a href="http://10.0.86.201:8080/book/{{book.f001}}"> {{book.f245__a}} </a>
<br>
Book data:<br>
001: {{book.f001}} # id<br>
005: {{book.f005}} # дата последней модификации записи<br>
008: {{book.f008}} # хз что<br>
020_a: {{book.f020__a}} # ISBN<br>
035_a: {{book.f035__a}} # хз что<br>

040_a: {{book.f040__a}} # хз что<br>
040_c: {{book.f040__c}} # хз что<br>
040_d: {{book.f040__d}} # хз что<br>
040_e: {{book.f040__e}} # хз что<br>

041_a: {{book.f041__a}} # язык, на котором написана книга<br>

080_a: {{book.f080__a}} # хз что<br>
080_v: {{book.f080__v}} # хз что<br>

084_2: {{book.f084__2}} # хз что<br>
084_a: {{book.f084__a}} # хз что<br>

100_a: # Автор <br>

245_a: {{book.f245__a}} # Название<br>
245_b: {{book.f245__b}} # Тип, монография, учебник, эл-ресурс, перевод с анг<br>
245_c: {{book.f245__c}} # Автор, Авторы<br>

250_a: {{book.f250__a}} # номер издания "5-е изд., перераб. и доп"<br>

260_a: {{book.f260__a}} # Город, в котором издано<br>
260_b: {{book.f260__b}} # Издательство<br>
260_c: {{book.f260__c}} # Год выпуска<br>

300_a: {{book.f300__a}} # Кол-во страниц<br>
300_b: {{book.f300__b}} # Иллюстрации / чертежи<br>

440_a: {{book.f440__a}} # "Худож. и публицист. б-ка атеиста"<br>
500_a: {{book.f500__a}} # Краткое описание<br>

504_9: {{book.f504__9}} # хз что<br>
504_a: {{book.f504__a}} # Библиографический справочник<br>

521_a: {{book.f521__a}} # "Свободный доступ из локальной сети НТБ МИРЭА"<br>
700_a: {{book.f700__a}} # Авторы по одному<br>

852_9: {{book.f852__9}} # дата какая-то<br>
852_a: {{book.f852__a}} # в каком хранилище, предположительно<br>
852_b: {{book.f852__b}} # читальный зал / абонимент / эл издание<br>
852_h: {{book.f852__h}} # полочный индекс h+i not i+h !<br> 
852_i: {{book.f852__i}} # полочный индекс<br>
852_p: {{book.f852__p}} # хз что<br> 
852_t: {{book.f852__t}} # хз что<br>
852_r: {{book.f852__r}} # "На дом не выдается"<br> 

856_s: {{book.f856__s}} # хз что<br>
856_u: {{book.f856__u}} # Урл на скачку<br>


