{% extends "pages.html" %}
{% load pytils_dt %}
{% block head %}{{ block.super }}{% endblock head %}
{% block title %}{{ need_type.name }}{% endblock title %}
{% block menu %}{{ block.super }}{% endblock menu %}
{% block search %}{{ block.super }}{% endblock search %}
{% block content %}{{ block.super }}
	<div id="content" class="simple list">
		{% for item in items|slice:"0:1" %}<div class="post">
			{% ifequal need_type.name 'Ресурсы' %}<h2 class="sauce_header"><a href="/{{ need_type.name }}/{{ item.id }}">{{ item.typograf_title }}</a></h2>{% endifequal %}
			{% ifequal need_type.name 'Справка' %}<h2 class="info_header"><a href="/{{ need_type.name }}/{{ item.id }}">{{ item.typograf_title }}</a></h2>{% endifequal %}
			{% ifequal need_type.name 'Объявления' %}<h2 class="events_header"><a href="/{{ need_type.name }}/{{ item.id }}">{{ item.typograf_title }}</a> <span class="date">{{ item.event_date|date:"j" }}&nbsp;{{ item.event_date|ru_strftime:"%B" }}</span></h2>{% endifequal %}
			{% ifequal need_type.name 'О библиотеке' %}<h2 class="about_header"><a href="/{{ need_type.name }}/{{ item.id }}">{{ item.typograf_title }}</a></h2>{% endifequal %}
			{{ item.typograf_preview }}
		</div>{% endfor %}
		{% ifnotequal need_type.name 'Справка' %}{% ifnotequal need_type.name 'Объявления' %}{% ifnotequal need_type.name 'О библиотеке' %}{% for bookset in booksets %}<div class="post">
			<h2 class="sauce_header"><a href="/Набор/{{ bookset.name }}">{{ bookset.name }}</a></h2>
			{{ bookset.about }}
		</div>{% empty %}{% endfor %}{% endifnotequal %}{% endifnotequal %}{% endifnotequal %}
		{% for item in items|slice:"1:" %}<div class="post">
			{% ifequal need_type.name 'Ресурсы' %}<h2 class="sauce_header"><a href="/{{ need_type.name }}/{{ item.id }}">{{ item.typograf_title }}</a></h2>{% endifequal %}
			{% ifequal need_type.name 'Справка' %}<h2 class="info_header"><a href="/{{ need_type.name }}/{{ item.id }}">{{ item.typograf_title }}</a></h2>{% endifequal %}
			{% ifequal need_type.name 'Объявления' %}<h2 class="events_header"><a href="/{{ need_type.name }}/{{ item.id }}">{{ item.typograf_title }}</a> <span class="date">{{ item.event_date|date:"j" }}&nbsp;{{ item.event_date|ru_strftime:"%B" }}</span></h2>{% endifequal %}
			{% ifequal need_type.name 'О библиотеке' %}<h2 class="about_header"><a href="/{{ need_type.name }}/{{ item.id }}">{{ item.typograf_title }}</a></h2>{% endifequal %}
			{{ item.typograf_preview }}
		</div>{% endfor %}
	</div>{% endblock content %}
