{% extends "main.html" %}
{% load btags %}
{% block head %}{{ block.super }}{% endblock head %}
{% block title %}{% if keyword %}&laquo;{{ keyword }}&raquo; в НТБ МИРЭА{% else %}Не знаете, что поискать?{% endif %}{% endblock title %}
{% block bodyid %} id="search"{% endblock bodyid %}
{% block bodyclass %}{% endblock bodyclass %}
{% block menu %}{{ block.super }}{% endblock %}
{% block search %}{{ block.super }}{% endblock %}
{% block content %}<div id="content" class="search_results">
	{% comment %}		Коды ошибок
							пустой запрос - 1
							одна буква в запросе - 2
							ничего не нашёл - 3
							стоп-слова - 4					{% endcomment %}
	{% if message %}<p class="search_message">
		{% ifequal message "1" %}<a href="http://dzen.yandex.ru/" title="но есть у Яндекса">Дзен-поиска</a> у нас нет.{% endifequal %}
		{% ifequal message "2" %}Уууф, ой как много… Нет, не показать.{% endifequal %}
		{% ifequal message "3" %}<nobr>Мы не нашли «<span class="keyword">{{ keyword }}</span>»</nobr>{% endifequal %}
		{% ifequal message "4" %}<nobr>Мы не нашли «<span class="keyword">{{ keyword }}</span>»</nobr>{% endifequal %}
	<p>{% else %}
	{% book_search 'bgu' zkeyword 'CCL' 0 100 as books %}
	{% if books %}<div class="at_ecat">
		<h4>в каталоге <span>{% if books_len %}{{books_len}}, показано {{books|length}}{% else %}{{books|length}}{% endif %}</span></h4>
		<ol class="index-list">{% for book in books %}
			<li>{% book_render 'bgu' book 'main' %}
			</li>{% endfor %}
		</ol>
	</div>{% endif %}{# <!-- </div  class="at_ecat"> — классный перл, для потомков =) --> #}
	{% if items %}<div class="at_site{% if not books %} nobooks{% endif %}">
		<h4>на сайте <span>{{items|length}}</span></h4>
		<ul class="l1">{% for item in items %}
			<li class="l1"><a href="/{{ item.type.name }}/{{ item.id }}">{{ item.typograf_title }}</a></li>{% endfor %}
		</ul>	
	</div>{% endif %}
		{% comment %} Должно быть внутри дивака at_site<ul class="l1">{% regroup items|dictsort:"type" by type as itemsbytype %}
			{% for type in itemsbytype %}<li class="l1">{{ type.grouper }}
				<h5>{% ifequal type.grouper "О библиотеке" %}в «О библиотеке»{% endifequal %}
					{% ifequal type.grouper "Объявления" %}в «Объявлениях»{% endifequal %}
					{% ifequal type.grouper "Справка" %}в «Справке»{% endifequal %}
					{% ifequal type.grouper "Ресурсы" %}в «Ресурсах»{% endifequal %}</h5>
				<ul>{% for item in type.list %}
					<li class="l2"><a href="/{{ item.type.name }}/{{ item.id }}">{{ item.typograf_title }}</a></li>{% endfor %}
				</ul>
			</li>{% endfor %}
		</ul>{% endcomment %}
	{% if rooms %}<div class="at_map{% if not books %} nobooks{% endif %}">
	<h4>на схеме <span>{{rooms|length}}</span></h4>
		<ul class="l1">{% for room in rooms %}
			<li  class="l1"><a href="/Схема/{{ room.name }}">{{ room.typograf_title }}</a></li>{% endfor %}
		</ul>
	</div>{% endif %}
	{% if share_books %}<div class="in_ebooks{% if not books %} nobooks{% endif %}">
		<h4>в изданиях МИРЭА <span>{% if shb_len %}{{shb_len}}, показано {{share_books|length}}{% else %}{{share_books|length}}{% endif %}</span></h4>
		<ol class="index-list">{% for share_book in share_books %}{% with share_book as book %}
			<li>{% include "index-card.html" %} {# Сделано из-за разных названий объектов в массивах (сказать Гошану свести всё к объекту record) #}
			</li>{% endwith %}{% endfor %}		
		</ol>
	</div>{% endif %}
	{% ifnotequal remote_ip '10.0.86.4' %}{% if ebooks %}<div class="in_ebooks{% if not books %} nobooks{% endif %}">
		<h4>в электронных книгах <span>{% if eb_len %}{{eb_len}}, показано {{ebooks|length}}{% else %}{{ebooks|length}}{% endif %}</span></h4>
		<ol class="index-list">{% for ebook in ebooks %}{% with ebook as book %}
			<li>{% include "index-card.html" %} {# Сделано из-за разных названий объектов в массивах (сказать Гошану свести всё к объекту record) #}
			</li>{% endwith %}{% endfor %}		
		</ol>
	</div>{% endif %}{% endifnotequal %}
	{% endif %} {# message #}
</div>{% endblock %}
